
<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Realizar Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="boxImage">
    <img src="/assets/image/pokebola.jpg" />
  </div>

  <div class="wellcome">
    <h3>Lista de Pokémons</h3>
    <p>
      Cadastra-se e conheça os Pokémons
    </p>
  </div>

  <div class="formulario">
    
    <form>
      <ion-input
        class="input"
        label="Email"
        label-placement="floating"
        placeholder="Digite seu email"
        name="email"
        [(ngModel)]="user.email"
      ></ion-input>
      <ion-input
        class="input"
        label="Senha"
        type="password"
        label-placement="floating"
        placeholder="Digite sua senha"
        name="password"
        [(ngModel)]="user.password"
      ></ion-input>
      <div class="btns">
        <ion-button class="btn" expand="full" (click)="handleCreateUser(user)">Salvar</ion-button>
      </div>
    </form>
  </div>
</ion-content>

