<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Faça seu login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="boxImage">
    <img src="/assets/image/pokebola.jpg" />
  </div>

  <div class="wellcome">
    <h3>Lista de Pokémon </h3>
    <p>
      O melhor lugar para você conhecer pokémons
    </p>
  </div>

  <div class="formulario">
    
    <form>
      <ion-input
        class="input"label="Email"label-placement="floating"
        placeholder="Digite seu email"type="text"[(ngModel)]="user.email"
      ></ion-input>

      <ion-input
        class="input"label="Senha"type="senha"label-placement="floating"
        placeholder="Digite sua senha"type="password"
        [(ngModel)]="user.senha"
      ></ion-input>

      <div class="btns">
        <ion-button class="btn" expand="full" (click)="handleLogin()">Logar</ion-button>
        <ion-button class="btn" color="danger" (click) = "recuperar()">Esqueci a Senha</ion-button>
      </div>

    </form>
  </div>
</ion-content>
